<html>

<head>
<link rel='stylesheet' href='http://localhost:3000/css/style.css'>
</head>

<body>

<h1>Trip Planner</h1>



<form method='POST' action='/travel/add-trip'>
<input type='text' placeHolder='Destination' name='destination'>
<input type='text' placeHolder='Depart Date' name='departDate'>
<input type='text' placeHolder='Return Date' name='returnDate'>
<button>Create trip</button>
</form>

</body>



</html>