<html>

<head>
<link rel='stylesheet' href='http://localhost:3000/css/style.css'>

</head>

<body>

<h2>Log in</h2>

<form method="POST" action="/log-in">
<input type='text' placeHolder='Username' name='userName'>
<input type='text' placeHolder='Password' name='passWord'>
<button>Sign in</button>
</form>

<form action='/log-in/register-user'>
<button>Create account</button>
</form>


</body>



</html>