<html>

<head>
<link rel='stylesheet' href='http://localhost:3000/css/style.css'>
</head>

<body>


<h1>Your trip to {{dest}} has been created!</h1>

<form action='/travel'>
<button >View List</button>
</form>




</body>



</html>