<html>

<head>
<link rel='stylesheet' href='http://localhost:3000/css/travel.css'>
</head>

<body>

<div id='header'>
<h1>Trip Planner</h1>
</div>


<form action='/travel/add-trip'>
<button>Create trip</button>
</form>


<ul>
{{#trips}}
<li>{{destination}} - {{departDate}}-{{returnDate}}
<form method='POST' action='/travel/delete-trip'>
<input type='hidden' value={{destination}} name='destination'>
<button>Delete</button>
</form>
</li>




</ul>

{{/trips}}
</body>



</html>